#define WIFI_SSID1     "<%= options[:wifi_ssid1] %>"
#define WIFI_PASSWORD1 "<%= options[:wifi_password1] %>"

#define WIFI_SSID2     "<%= options[:wifi_ssid2] %>"""
#define WIFI_PASSWORD2 "<%= options[:wifi_password2] %>"

#define WIFI_SSID3     "<%= options[:wifi_ssid3] %>"
#define WIFI_PASSWORD3 "<%= options[:wifi_password3 ] %>"

#define UPDATE_DELAY 60*1000

#define HOMEBUS_AUTHENTICATION_TOKEN "<%= options[:homebus_token] %>"
#define HOMEBUS_SERVER "<%= options[:homebus_server] %>"
